
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">PushpakAi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active">OrderList </a> -->
      <!-- <a class="nav-item nav-link" href="#">L</a> -->
    </div>
  </div>
  <div class="d-flex">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</nav>